<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Workshops | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/workshop.css" />
    </head>
    <body>
        
        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row">
                <div class="small-10 small-centered text-center columns">
                    <h4>Workshops</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
                    <div class="small-7 small-push-3 medium-5 large-4 large-push-3 columns">
                        <div class="dp-image">
                            
                        </div>
                    </div>
                    <div class="small-10 medium-5 large-5 large-pull-1 columns">
                        <div class="details">
                            <span class="title-workshop">A workshop on "Vehicle Design and Dynamics"</span>
                            <br />
                            <span class="by-workshop">presented by Engineer Indya</span>
                            <br />
                            <br />
                            <span>Date : 18<sup>nd</sup> Jan 2017</span>
                            <br />
                            <span>Venue : The LNMIIT, Jaipur </span>
                            <br />
                            <br />
                            <ul>
                                <li><a href="#">Register ></a></li>
                                <li><a href="#">Make Payment ></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="workshop-desc">
            <div class="row">
                <div class="small-8 small-centered text-center columns">
                    <span>It is a 2 days’ workshop (15 Hours) in which we will make the students to understand the Basics of automobile, its working principle, simulation, design and manufacture a car (prototype) with their own hands. This Program is conceptualized to impart fundamentals know how on correlating design with analysis of various Automotive Components. Students who are perusing engineering can learn about the importance of studying Engineering mechanics, Design of Machine Elements and Mechanics of Material implementing the calculations in CAD/CAE software’s. For Pre-Final year students, this program will focus on the understanding the basics automotive parts like engine, gearbox, suspension, Chassis, Brakes, Hub, Upright, Arms, Steering various analysis.
                    </span>
                </div>
            </div>
            <div class="row content">
                <div class="small-8 small-centered text-center columns">
                    <span class="content-head">Topics to be covered in this Workshop:</span>
                    <br />
                    <br />
                    
                    <span><b>Section-A</b></span>
                    <ul>
                    <li> Understanding basics of automobile</li>
                    <li>Working principle of different components of vehicle & brief discussion on each part.</li>
                    <li>Safety measures to be undertaken by students during working in workshop.</li>
                    </ul>

                    <span><b>Section B</b></span>
                    <ul>
                    <li> Fundamental Design discussion</li>
                    <li>Parameters listing</li>
                    <li>Engine selection process</li>
                    <li>Tire selection process</li>
                    <li>Chassis Design</li>
                    <li>Transmission & engine control system</li>
                    </ul>

                    <span><b>Section C</b></span>
                    <ul>
                    <li> The Suspension system:</li>
                    <li>Suspension working & components analysis</li>
                    <li>Design of spring & shock absorbers</li>
                    <li>Independent & dependent suspension</li>
                    <li>Double wishbone suspension system design</li>
                    <li>Wheel alignment angles</li>
                    <li>The load transfer</li>
                    <li>Braking system:</li>
                    <li>Disc brake system design</li>
                    <li>Hydraulic circuit for braking system</li>
                    <li>Actuation methods</li>
                    <li>Rotor shear stress concepts</li>
                    <li>Brake biasing</li>
                    <li>Tires & Traction:</li>
                    <li>Terrain analysis</li>
                    <li>Selection of tire</li>
                    <li>Concept of grip & traction</li>
                    <li>Slip angles</li>
                    <li>Cornering stiffness</li>
                    <li>Ergonomics:</li>
                    <li>Cockpit design of ATV Car</li>
                    <li>Design of pedals & driver safety systems</li>
                    </ul>
                    <span><b>Section D</b></span>
                    <ul>
                    <li>Discussion/knowledge sharing about the preparation for different student competitions/racing championships/Events where students can represent their college/university globally. General knowledge about the events like ATV championships, Formulae Racing, Go Karts, Quad Racing, Rallies, bike racing championships.</li>
                    <li>Discussion about the different international Automotive Competition Rulebooks. To make students develop Teamwork, extract Leadership Qualities within them. To develop them in marketing skills like arrangement of funds for their projects.</li>
                    </ul>
                </div>
            </div>
            <div class="row content">
                <div class="small-8 small-centered text-center columns">
                    <span class="content-head">Kit Description</span>
                    <br>
                    <ul>
                    <li>1x CD</li>
                    <li>Datasheets</li>
                    <li>Drivers</li>
                    <li> PPTs</li>
                    <li>Software</li>
                    <li>Tutorials</li>
                    <li>User Manual</li>
                    <li>1x Booklet</li>
                    </ul>
                    <br>
                    Certification and Prize As per Company Regulation – Engineer Indya and Associate Institution (IIT Or Company End ).
                </div>
            </div>
            <div class="row content">
                <div class="small-8 small-centered text-center columns">
                    <span class="content-head">For Any Queries Contact</span>
                    <br />
                    <br />
                    <span>Kapil Matani : +91-9462317503 <span class="pipe-1">|</span> kapilmatani03@gmail.com</span>
                    <br />
                    <span>Deepika Singhal : +91-9461481539 <span class="pipe-2">|</span> deepikasinghal07@gmail.com</span>
                </div>
            </div>
        </div>
        
        <% include partials/footer %>
        
    </body>
</html>