<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Workshops | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/workshop.css" />
    </head>
    <body>
        
        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row">
                <div class="small-10 small-centered text-center columns">
                    <h4>Workshops</h4>
                </div>
            </div>
        </div>
        
        <div class="prev-card">
            <a><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="next-card">
            <a><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></a>
        </div>
        
        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
                    <div class="small-7 small-push-3 medium-5 large-4 large-push-3 columns">
                        <div class="dp-image">
                            
                        </div>
                    </div>
                    <div class="small-10 medium-5 large-5 large-pull-1 columns">
                        <div class="details">
                            <span class="title-workshop">A workshop on "Web-O-Master"</span>
                            <br />
                            <span class="by-workshop">presented by Engineer Indya</span>
                            <br />
                            <br />
                            <span>Date : 18<sup>nd</sup> Jan 2017</span>
                            <br />
                            <span>Venue : The LNMIIT, Jaipur </span>
                            <br />
                            <br />
                            <ul>
                                <li><a href="#">Register ></a></li>
                                <li><a href="#">Make Payment ></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="workshop-desc">
            <div class="row">
                <div class="small-8 small-centered columns">
                    <span><b>Engineer Indya</b> in association with <b>EI Transporation</b> presents India's Unique two days Combo Workshop on <b>Web-O-Master</b> with a <b>Live Project</b>. It's a two days workshop based on Web Development, Joomla CMS, Search Engine Optimization(SEO), Social Media Optimization (SMO), App Development & Web Security. Also get a chance to work on a Live Project based on a Social Networking Community Site for Engineers of India. All participants will be awarded with a dual certificate for attending this workshop i.e. <b>Certificate of Merit</b> & <b>Live Project Completion Certificate</b>.</span>
                </div>
            </div>
            <div class="row content">
                <div class="small-8 small-centered columns">
                    <div class="content-head">About Workshop</div>
                    <br>
                    <span><p>This is a comprehensive course designed for people who have little IT (Information Technology) knowledge to help individuals gain a good grounding in the fundamentals of this popular open source Content Management System (CMS) & latest web technologies. So that they can create, manage and promote their website. Only a little IT knowledge is necessary to attend this Workshop.</p>
<!--                    <p>The workshop is not just about Web designing using JOOMLA (a content management system) but also includes Search Engine Optimization(SEO) that enables our website to get listed on top of Search Engines like Google, Yahoo etc when keywords are used for searching. Creating a website might not be as appealing to some as it might be to see it even being listed on top. This workshop also covers Social Media Optimization (SMO), that is, how to brand your products on social media like Facebook, Google+ etc and includes a session on Google and Facebook Analytics. Workshop also cover brief about Web Security & how to secure your website from being hacked by someone. Also learn to build a Mobile App. So, by the end of the workshop, one would get to know how to design a website, launch it, how to do search engine optimization (SEO) of it, how to do social media optimization & marketing, building Mobile App & Web Security.</p>-->
<!--                    <p>Also get a chance to work on a Live Project based on Professional Social Networking Community site for Engineers of India. In coming months many of the engineering students will be using that site for information related to Jobs, Projects, Seminar Projects, Research Papers, Interaction with corporate people, sharing information with others engineering students & professionals, fest details etc.</p>-->
                    </span>
                </div>
            </div>
            <div class="row content">
                <div class="small-8 small-centered columns">
                    <div class="content-head">Objective of the Workshop</div>
                    <br /><ul>
                    <li>Introduction about Web Technologies & CMS</li>
                    <li>Describe Joomla key CMS features</li>
                    <li>Administer website content using Joomla back-end functions</li>
                    <li>Learn to manage own hosting & creating professional email-ids.</li>
                    <li>Promoting website on Social Media like Facebook, LinkedIn etc.</li>
                    <li>Understanding Search Engine Optimization (SEO) & how to bring your site on top search engine like Google, Yahoo etc</li>
                </div>
            </div>
            <div class="row content">
                <div class="small-8 small-centered columns">
                    <div class="content-head">Topics to be covered in this Workshop:</div>
                    <br />
                    <div class="text-center"><b>Introduction</b></div>
                    
                    <ul>
                    <li> What is web application?</li>
                    <li> Basics of Web Development</li>
                    <li> Types of Script languages</li>
                    <li> Difference between Server & Client Side Scripts</li>
                    <li> Local Web Development Setup ( Wamp, Xampp etc. )</li>
                    <li> Testing Local Environment</li>
                    <div class="text-center"><b>Web Server & Domain</b></div>
                    <li> What is web server?</li>
                    <li> What is domain name?</li>
                    <li> Is it free?</li>
                    <li> How to register Domain Name?</li>
                    <li> Local Web Development Setup ( Wamp, Xampp etc. )</li>
                    <li> How to purchase space in Web Server?</li>
                    <div class="text-center"><b>HTML</b></div>
                    <li> What is HTML?</li>
                    <li> First web page</li>
                    <li> Common Tags introduction</li>
                    <li> Tag structure to be followed</li>
                    <li> HTML Trends</li>
                    <div class="text-center"><b>Scripting</b></div>
                    <li> What are Client Side Scripts?</li>
                    <li> What are Server Side Scripts?</li>
                    <li> Introduction to PHP</li>
                    <li> Basic code run of PHP</li>
                    <div class="text-center"><b>My SQL, PHP My Admin & Connectivity:</b></div>
                    <li> What is MySQL?</li>
                    <li> Introduction of SQL</li>
                    <li> First Code run of SQL</li>
                    <li> What is phpMyAdmin?</li>
                    <li> Understanding Interface</li>
                    <li> Creating Database in local MySQL Server</li>
                    <li> Creating User & its Acces Rights in phpMyAdmin</li>
                    <li> MySQL Connectivity using PHP</li>
                    <div class="text-center"><b>Forms using HTML & PHP</b></div>
                    <li> What is a Form?</li>
                    <li> Get and post methods</li>
                    <li> Google Forms</li>
                    <li> Embedded Google Form in own Page</li>
                    <div class="text-center"><b>Uploading Web site to Server (FTP Access)</b></div>
                    <li> What is FTP Client?</li>
                    <li> What is FileZilla?</li>
                    <li> Uploading website to a webserver.</li>
                    <div class="text-center"><b>Web Development & CMS</b></div>
                    <li> Introduction to Web Designing.</li>
                    <li> CMS, Web System & Planning</li>
                    <li> Understanding different Web Technologies.</li>
                    <li> Understanding Web Layout.</li>
                    <li> Understanding Joomla CMS.</li>
                    <div class="text-center"><b>Web Designing using Joomla CMS</b></div>
                    <li> Basic about Database (MySQL).</li>
                    <li> Installing & Configuring Joomla.</li>
                    <li> Choosing & Editing Template.</li>
                    <li> Working with Menus.</li>
                    <li> Extending Joomla: Modules, Components & Plugins.</li>
                    <li> Creating Web Pages in Joomla.</li>
                    <li> Launching Joomla Site.</li>
                    <div class="text-center"><b>cPanel & Hosting Administration</b></div>
                    <li> What is cPanel ?</li>
                    <li> Hosting Administration with CPanel.</li>
                    <li> Creating Back Ups.</li>
                    <li> Publishing Website</li>
                    <li> Creating Professional Email-Id (e.g: raj@abc.com )</li>
                    <div class="text-center"><b>Search Engine Optimization (SEO)</b></div>
                    <li> Introduction about SEO (Search Engine Optimization).</li>
                    <li> SEO on HTML Websites.</li>
                    <li> SEO in Joomla.</li>
                    <li> Google Analytics Session</li>
                    <li> Joomla Advance Parameters.</li>
                    <div class="text-center"><b>Social Networking Session</b></div>
                    <li> Social Media Optimization (SMO)</li>
                    <li>Defining Marketing Strategies</li>
                    <li>Favicon.</li>
                    <li>Facebook Analytics</li>
                    <div class="text-center"><b>Web Security</b></div>
                    <li>Introduction to Web Security.</li>
                    <div class="text-center"><b>App Development using jQuery Mobile</b></div>
                    <li>Introduction to jQuery : Mobile, UI etc.</li>
                    <li>Introduction to jQuery Mobile</li>
                    <li>Making Mobile Based Web Applications</li>
                    <li>Building an app using jQuery mobile</li>
                    <div class="text-center"><b>Project Work</b>   </div>
                    <li>Project Discussion</li>
                    <li>Understanding Project Work</li>
                    </ul>
                </div>
            </div>
            <div class="row content">
                <div class="small-8 small-centered columns">
                    <div class="content-head">Eligibility</div>
                    <br>
                    The are no prerequisites for joining this workshop. Any one interested, can join this workshop. While a basic understanding of HTML would be helpful, it is not compulsory. <b>Student from any branch can attend this workshop.</b>
                    <br><br>
                    <div class="content-head">Certification Policy</div>
                    <br>
                    Certificate of Merit for all the workshop participants from Engineer Indya .
                    Live Project Completion Certificate from EIT to all participants.Certificate of Coordination for the coordinators of the campus workshops.
                    <br><br>
                    <div class="content-head">Duration</div>
                    <br>
                    <div class="text-center">2 Days ( 16 Hours, 7-8 Hours /Day)</div>
                    <br>
                    <div class="content-head">Fees</div>
                    <br>Rs. 1050/- per participant (inclusive of all Taxes)
                    <br>* This fee include workshop training, study material & software tool Kit, certification, government taxes and other human resources charges.
                </div>
            </div>
            <div class="row content">
                <div class="small-8 small-centered text-center columns">
                    <span class="content-head">For Any Queries Contact</span>
                    <br />
                    <br />
                    <span>Vipul Behl : +91-9468590302 <span class="pipe-1">|</span> vbehl03@gmail.com</span>
                    <br />
                    <span>Romit Jain : +91-9549037612 <span class="pipe-2">|</span> romit.73@gmail.com</span>
                </div>
            </div>
        </div>
        
        <% include partials/footer %>
        
    </body>
</html>