@font-face {
    font-family: rez;
    src: url("../font/REZ.ttf");
}

@font-face {
    font-family: caviar;
    src: url("../font/CaviarDreams.ttf");
}

@font-face {
    font-family: cl;
    src: url("../font/ChampagneAndLimousines.ttf");
}

@font-face {
    font-family: hn;
    src: url("../font/HelveticaNeue.ttf");
}

/*
section{
    max-width: 1280px;
}
*/

nav{
    height: 70px;
    padding: 20px 20px 0px ;
}

.header-logo{
    width: 60px;

}

.navitem{
    position: relative;
    top: -40px;
    font:normal 1.125em hn;
}

.navitem li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.navitem a{
    color:black;
    text-decoration: none;
}

.ham-btn{
    display: none;
    position: fixed;
    top:25px;
    right: 10px;
    z-index: 99;
}
.ham-wrapper{
    position: fixed;
    top:0px;
    right: 0px;
    z-index:9999;
    width: 0px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.1);
    color: black;
}
/*
.fly-left{
    max-width: 250px;
}
*/

.ham-content{
    font:normal 1.125em hn;
}

.ham-content li{
    list-style: none;
    padding:30px;
}

.ham-content a{
    text-decoration: none;
    color:black;
}


.ham-close{
    display: none;
    float: right;
    position: fixed;
    top:10px;
    right: 10px;
    opacity: 0.5;
}


.ham-close span{
    font:normal 20px 'Roboto';
}

.back{
    color: #0431B4;
}

.back:hover{
    opacity: 0.8;
}

.social-wrapper{
}

.social{
/*    border:1px solid white;*/
    max-width: 500px;
}

.social li{
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
}

.social a{
    text-decoration: none;
    color:#4a4a4a;
}


.footer-text{
    max-width: 600px;
}

.footer-text li{
    list-style: none;
    display: inline-block;
    padding:0px 15px;
    font:bold 18px hn;
}

.footer-text a{
    text-decoration: none;
    color:#4a4a4a;
}

.footer-fixed{
  position: absolute;
  bottom: 20px;
  margin-left: calc( 50% - 300px );
}


#register-pop-up-window{
  padding-top: 20px;
}
#register-pop-up-window h5{
  font-family: cl;
  font-size: 26px;
}
#register-pop-up-window p{
  font-family: robo;
  font-size: 16px;
  padding: 20px;
}

.btn-register{
  margin-right: 10px;
  background: white;
  box-shadow: 0 2px 3px 2px rgba(0,0,0,0.2);
  padding: 12px 25px;
  color: black;
  display: inline-block;
  margin-bottom: 20px;
}
.btn-register i{
  margin-right: 10px;
}

.notif{
    text-align: right;
    display: none;
    position: fixed;
    top: 60px;
    right: 20px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    font: normal 15px 'Roboto';
    padding: 20px;
    background-color: white;
    z-index: 999;
}

.reg-status{
    padding-left: 15px;
}

.reg-status-img{
    padding: 3px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    background-color:#1585cf;
    border-radius: 100%;
}

.profile-drop-down{
    text-align: right;
    display: none;
    position: fixed;
    top: 48px;
    right: 20px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    font: normal 15px 'Roboto';
    padding:10px 10px 10px;
    background-color: white;
    z-index: 999;
}

.drop-down-ele a{
    font: normal 15px 'Roboto';
    color: black;
}


/* registration form */


.reg-form{
    background-color: white;
    z-index: 99999;
/*    display: none;*/
/*
    position: absolute;
    left:350px;
    top:50px;
    width:680px;
    height: 550px;
*/
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.2);
    padding:100px 50px 50px;
/*    overflow: auto;*/
    align-content: center;
}


.reg-form-display{
    display: block;
}

.reg-form-btn{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 220px;
}

.reg-form-btn-register{
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.2);
    padding: 10px 20px 10px;
    font:bold 22px cl;
    color:black;
    background: white;
    border: none;
}

.add-memb{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.add-memb span{
    text-decoration: underline;
}

.add{
    font:bold 22px cl;
    color:black;
}




.reg-social ul{
    margin: 0px;
    padding: 0px;
}

.reg-social li{
    list-style: none;
    color: black;
    font:normal 22px cl;
    display: inline-block;
        box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.2);
    margin-right: 20px;
    padding:10px 20px 10px;
}

.reg-social a{
    color: black;
}

.fa-facebook, .fa-google-plus{
    padding-right: 10px;
}


.group {
  position: relative;
  width: 300px;
    top:-40px;
/*
    margin-left: 30px;
  margin-bottom: 30px;
*/
    margin: auto;
}

.group input, .group textarea {
    box-shadow: none;
  border: none;
  border-bottom: 1px solid #333;
  padding: 10px;
  display: block;
  width: 300px;
}
.group input:focus, .group textarea:focus {
  outline: none;
    border:none;
    box-shadow: none;
    border-bottom: 2px solid #3ca37c;
}
.group input:focus ~ label, .group input:valid ~ label, .group textarea:focus ~ label, .group textarea:valid ~ label {
  top: -10px;
  font-size: 17px;
  color: #3ca37c;
}
.group label {
  font:normal 22px cl;
  position: absolute;
  top: 12px;
  left: 0;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}


input:focus ~ .bar:before, textarea:focus ~ .bar:before {
  left: 0;
  right: 0;
}

.radio-sex{
    position: relative;
    top:-30px;
    left:100px;
    margin-bottom: -10px;
}

.reg-sex-h{
    font:normal 22px cl;
}

.reg-sex{
    position: relative;
    top:-28px;
    margin-left: 80px;
}

.radio-year{
    position: relative;
    top:-30px;
    left:100px;
    margin-bottom: -10px;
}

.radio-year .reg-sex{
    margin-left: 50px;
}

.reg-acc-h{
    font:normal 22px cl;
}

.radio-acc{
    margin-top: -40px;
}

.reg-acc{
    margin-top: -30px;
    margin-left: 150px;
}

.radio-acc{
    margin-left: 100px;
}

/*radio button*/

.radButtonWorkload {
  display: none;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: white;
  border: 2px solid #4a4a4a;
}

input[type="radio"]:checked + label span {
  background-color: #4a4a4a;
  border: 2px solid #4a4a4a;
  box-shadow: 0px 0px 0px 3px #fff inset;
}

.radButtonSpanWorkload{
    font:normal 22px cl;
}


@media screen and (max-width: 768px) {
    .navitem{
        display:none;
    }
    .ham-btn{
        display: block;
    }
}
