.content{
    margin-top: 50px;
    margin-bottom: 40px;
}

h4{
    font: normal 40px 'Roboto';
    color:#0431B4;
    padding-bottom: 10px;
}

.desc{
    font-family: 'Roboto';
    max-width: 1100px;
}

.wrapper{
    margin-bottom: 50px;
}

.card{
    font: bold 15px 'Roboto';
    padding: 20px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height:300px;
    margin-bottom: 30px;
    position: relative;
}

.know-more{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card img{
    /*margin-left: 7px;
    margin-left: 5px;
    margin-right: auto;*/

}

.card a{
    float:right;
/*    margin-bottom: 50px;*/
}

.container{
    padding:10px;
    text-align: center;
}

.name{
    font: bold 15px 'Roboto';
    opacity: 0.7;
}

.name-desc{
    font: normal 15px 'Roboto';
    opacity: 0.7;
}



.fa-globe, .fa-pie-chart, .fa-file-code-o, .fa-book{
    color:#0431B4;
}

.big-wrapper{
    margin-bottom: 100px;
}

@media screen and (max-width: 1111px){
/*
    .card a{
        position: relative;
        top: -20px;
    }
*/
}

@media screen and (max-width: 1020px){
/*
    .card a{
        position: relative;
        top: 20px;
    }
*/

    .card img{
        margin-left: 40px;
    }
}

@media screen and (max-width: 890px){
    .card img{
        margin-left: 20px;
    }
}

@media screen and (max-width: 746px){
/*
    .card a{
        position: relative;
        top: 0px;
    }
*/

    .card img{
        margin-left: 0px;
    }
}

@media screen and (max-width: 674px){
/*
    .card a{
        position: relative;
        top: -20px;
    }
*/

}

@media screen and (max-width: 640px){
/*
    .card a{

        position: relative;
        top: 20px;
    }
*/
    .card img{
/*        margin-left: 85px;*/
    }
}

@media screen and (max-width: 638px){
    .card img{
        margin-left: 85px;
    }
}

@media screen and (max-width: 533px){
    .card a{
/*        font-size: 15px;*/
/*        position: relative;*/
/*        top: -20px;*/
    }
    .card img{
        margin-left: 50px;
    }
}


@media screen and (max-width: 440px){

    .card a{
/*        font-size: 12px;*/
/*        position: relative;*/
/*        top:30px;*/
    }

    .card img{
        margin-left: 20px;
    }

}

@media screen and (max-width: 335px){
/*
    .card a{
        position: relative;
        top: -20px;
    }
*/

    .card img{
        margin-left: 0px;
    }
}
