.content{
    margin-top: 50px;
    margin-bottom: 40px;
}

h4{
    font: normal 40px 'Roboto';
    color:#0431B4;
    padding-bottom: 10px;
}

.desc{
    font-family: 'Roboto';
    max-width: 1100px;
}

.spons-content{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height:200px;
    max-width: 170px; 
    transition: 0.3s;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.spons-content-big{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height:250px;
    max-width: 270px;
    transition: 0.3s;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.spons-content:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.spons-content img{
    padding-top:20px;
}

.name, .name-big{
    margin-top: 60px;
}

.name span{
    text-align: center;
    font:normal 17px 'Roboto';
/*
    position: absolute;
    top: 150px;
*/
}

.name-big span{    
    text-align: center;
    font:normal 22px 'Roboto';
}

.wrapper{
    padding-bottom: 80px;
}


.ei{
    margin-top: 20px;
    height: auto;
    width: 120px;
}

.oyo{
    margin-top: 5px;
    height: auto;
    width: 140px;
}

.zoom{
    margin-top: 15px;
    height: auto;
    width: 150px;
}

.zoo{
    margin-top: 77px;
}

.go{
    margin-top: 70px;
}

footer{
    margin-top: 100px;
}
