<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Astronomy | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/competitions.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row head">
                <div class="small-10 small-centered columns text-center">
                    <h4>Astronomy</h4>
                </div>
            </div>
            <div class="row desc">
                <div class="small-12 columns text-center">
                    <p>Universe - unimaginably large and still right down to being incredibly small.  Participating, in the challenges to peak into the far corners of the universe. Together, feel the incommensurable beauty of the night sky and share the awe for the love of astronomy.</p>
                </div>
            </div>
        </div>

        <div class="big-wrapper">
            <div class="row">
                <div class="large-8 large-centered small-10 small-centered columns">
                    <div class="row">
                        <div class="small-10 medium-4 large-4 small-centered medium-uncentered columns">
                            <div class="card text-center">
                                <img src="media/icons/coding/cola.svg" width="100"/>
                                <div class="container">
                                    <p class="name">Armageddon</p>
                                    <p class="name-desc">Fate of humanity in yours Hand.</p>
                                </div>
                                <a href="/competitions/astronomy/armAgeddon" class="know-more">Know More ></a>
                            </div>
                          </div>
                          <div class="small-10 medium-4 large-4 small-centered medium-uncentered columns">
                            <div class="card text-center">
                              <img src="media/icons/coding/astro_hunt.svg" width="100"/>
                              <div class="container">
                                <p class="name">Astro Hunt</p>
                                <p class="name-desc">Solve the mysteries of Universe!</p>
                              </div>
                              <a href="/competitions/astronomy/astro_hunt" class="know-more">Know More ></a>
                            </div>
                          </div>
                          <div class="small-10 medium-4 large-4 end small-offset-1 medium-uncentered columns">
                            <div class="card text-center">
                              <img src="media/icons/coding/star_trek.svg" width="100"/>
                              <div class="container">
                                  <p class="name">Star Trek</p>
                                  <p class="name-desc">
                                      Voyage to different celestial bodies</p>
                                  <a href="/competitions/astronomy/star_trek" class="know-more">Know More ></a>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>

        <% include partials/footer %>

    </body>
</html>
