<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Competitions | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/competitions.css" />
    </head>
    <body>

        <% include partials/header %>

        <div class="content">
            <div class="row head">
                <div class="small-10 small-centered columns text-center">
                    <h4>Competitions</h4>
                </div>
            </div>
            <div class="row desc">
                <div class="small-12 columns text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet mattis ex. Morbi pharetra, tellus quis luctus tincidunt, elit libero iaculis ex, ac euismod eros ligula eget ipsum. Cras consequat varius venenatis. Vivamus auctor lorem tristique mi eleifend, id imperdiet erat faucibus. Nunc semper, orci ut dignissim varius, mauris augue placerat leo, vel sagittis enim erat ac dui. </p>
                </div>
            </div>
        </div>

        <div class="big-wrapper">
            <div class="row">
                <div class="small-10 small-centered columns">
                    <div class="row">
                        <div class="small-8 medium-4 large-4 small-centered medium-uncentered columns">
                            <div class="card text-center">
                                <img src="media/saturn.svg" />
                                <div class="container">
                                    <p class="name">Astronomy</p>
                                    <p class="name-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </div>
                                <a href="/astronomy/" class="know-more">Know More ></a>
                            </div>
                          </div>
                          <div class="small-8 medium-4 large-4 small-centered medium-uncentered columns">
                            <div class="card text-center">
                              <img src="media/coding.svg" width="120px"/>
                              <div class="container">
                                <p class="name">Coding</p>
                                <p class="name-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                              </div>
                              <a href="/coding/" class="know-more">Know More ></a>
                            </div>
                          </div>
                          <div class="small-8 medium-4 large-4 small-centered medium-uncentered columns">
                            <div class="card text-center">
                              <img src="media/robotics.svg" />
                              <div class="container">
                                  <p class="name">Robotics</p>
                                  <p class="name-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                              </div>
                              <a href="/roboticsEvents/" class="know-more">Know More ></a>
                            </div>
                          </div>
                          <div class="small-8 medium-4 large-4 small-centered medium-uncentered columns">
                            <div class="card text-center">
                              <img src="media/quiz.svg" />
                              <div class="container">
                                  <p class="name">Quizzing</p>
                                  <p class="name-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                  <a href="/quizzing/" class="know-more">Know More ></a>
                              </div>
                            </div>
                          </div>
                          <div class="small-8 medium-4 large-4 small-centered medium-uncentered columns">
                            <div class="card text-center">
                              <img src="media/literary.svg" />
                              <div class="container">
                                      <p class="name">Literature</p>
                                      <p class="name-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                              </div>
                              <a href="/literature/" class="know-more">Know More ></a>
                            </div>
                        </div>
                        <div class="small-8 medium-4 large-4 end small-centered medium-uncentered columns">
                            <div class="card text-center">
                              <img src="media/analytics.svg" />
                              <div class="container">
                                  <p class="name">Management</p>
                                  <p class="name-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                              </div>
                              <a href="/management/" class="know-more">Know More ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include includes/footer %>

    </body>
</html>
