<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <% include partials/header %>

            <div class="row ">
                <div class="small-12 small-centered column text-center main-logo">

                        <img class="logo-svg" src="media/OuterBoundary.svg" alt="Plinth-17"  />
                        <div class="logo-content">
                        <span class="logo-clg">The LNM Institute of Information Technology presents</span>
                        <br /><span class="logo-plinth">plinth</span>   <span class="logo-2017">2017</span>
                        <br /><span class="logo-desc">Techno-Management Literary Fest</span>
                        <br /><span class="logo-date">18<span class="super">th</span> - 19<span class="super">th</span> January, 2017</span>
                        </div>

                </div>
            </div>

        <% include partials/footer%>

        <script src="js/index.js"></script>

    </body>
</html>
