<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Management | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/competitions.css" />
    </head>
    <body>
        
        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row head">
                <div class="small-10 small-centered columns text-center">
                    <h4>Management</h4>
                </div>
            </div>
            <div class="row desc">
                <div class="small-12 columns text-center">
                    <p>From the street fairs to the global economy, we are filled to the brim with hustle and bustle every now and then. So come with your files and weapons to wipe it all away, fix the nuances in position and hence knock out the haste with your life acquiring management genius striving to come out from within you.  </p>
                </div>
            </div>
        </div>

        <div class="big-wrapper">
            <div class="row">
                <div class="large-6 large-centered small-10 small-centered columns">
                    <div class="row">
                        <div class="small-8 medium-4 large-4 small-centered large-centered medium-centered columns">
                            <div class="card text-center">
                                <img src="media/icons/management/sif.svg" width="70"/>
                                <div class="container">
                                    <p class="name">SIF</p>
                                    <p class="name-desc">An event in which startups and students interact</p>
                                </div>
                                <a href="/competitions/management/sif/" class="know-more">Know More ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <% include partials/footer %>
        
    </body>
</html>
