<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/profile.css" />
    </head>
    <body>

        <% include partials/header %>
        
        <div class="row usr-profile-wrap">
            <div class="small-10 small-centered columns">
                <div class="row">
                    <div class="small-10 small-centered text-center columns">
                        <div class="usr-img-wrap">
                            <span class="usr-img"><img src="media/icons/profile/man.svg" width="100"/></span>
                            <br />
                            <br />
                            <span class="usr-name">Mukul Goyal</span>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="small-12 medium-6 large-5 columns">
                        <div class="usr-profile-h"><span>About</span></div>    
                        <br />
                        <div class="user-profile-subh">Email</div><div class="usr-email">me.mukul05@gmail.com</div>
                        <br />
                        <div class="user-profile-subh">Phone</div><div class="usr-phone">9460855988</div>
                        <br />
                        <div class="user-profile-subh">College</div><div class="usr-clg">LNMIIT</div>
                        <br />
                        <div class="user-profile-subh">City</div><div class="usr-city">Jaipur</div>
                        <br />
                    </div>
                    <div class="small-12 medium-6 large-5 columns">
                        <div class="usr-profile-h"><span>Events</span></div>
                        <br />
                        <div class="user-profile-subh">IUPC</div><div class="event-date-time">18 Jan 2017 | 10 AM</div><div class="reg-status"><a href="#">Make Payment</a></div>
                        <br />
                        <div class="user-profile-subh">Robowar</div><div class="event-date-time">19 Jan 2017 | 10 AM</div><div class="reg-status">Paid</div>
                        
                        <br />
                        <div class="user-profile-subh">Debate</div><div class="event-date-time">19 Jan 2017 | 10 AM</div><div class="reg-status">Free</div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        
        <% include partials/footer %>

    </body>
</html>
