<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/profile.css" />
    </head>
    <body>

        <% include partials/header %>
        
        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
                    <div class="small-10 small-centered text-center columns">
                        <div class="usr-img-wrap">
                            <span class="usr-img"></span>
                            <span class="usr-name">Mukul Goyal</span>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="small-12 medium-6 large-5 columns">
                        <div class="usr-profile-h"><span>About</span></div>    
                        <br />
                        <span class="user-profile-subh">Email</span><span class="usr-email">me.mukul05@gmail.com</span>
                        <br />
                        <span class="user-profile-subh">Phone</span><span class="usr-phone">9460855988</span>
                        <br />
                        <span class="user-profile-subh">College</span><span class="usr-clg">LNMIIT</span>
                        <br />
                        <span class="user-profile-subh">City</span><span class="usr-city">Jaipur</span>
                        <br />
                    </div>
                    <div class="small-12 medium-6 large-5 columns">
                        <div class="usr-profile-h"><span>Events</span></div>
                        <br />
                        <span class="user-profile-subh">IUPC</span><span class="event-date-time">18 Jan 2017 | 10 AM</span><span class="reg-status"><a href="#">Make Payment</a></span>
                        <br />
                        <span class="user-profile-subh">Robowar</span><span class="event-date-time">19 Jan 2017 | 10 AM</span><span class="reg-status">Paid</span>
                        
                        <br />
                        <span class="user-profile-subh">Debate</span><span class="event-date-time">19 Jan 2017 | 10 AM</span><span class="reg-status">Free</span>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        
        <% include partials/footer %>

    </body>
</html>
