<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plinth'17</title>
    </head>
    <body>
        <p style="margin-left:20px;">redirecting ...</p>
        <script>
        localStorage.setItem("temptoken", '<%= token %>');
        // window.close();
        // close();
        </script>
    </body>
</html>
