<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sponsors | Plinth'17</title>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/sponsors.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row head">
                <div class="small-10 small-centered columns text-center">
                    <h4>Our Sponsors</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="spons-content-big">
                    <p class="title-sponsor-name">Title Sponsor</p>
                    <img src="media/sponsors_2k17/ei-logo.svg" alt="Engineer Indya" class="ei"/>
                    <div class="name-big">
                        <span>Engineer Indya</span>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="big-wrapper">-->
            <div class="row">
                <div class="small-10 small-centered columns">
                    <div class="row">
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-3 columns">
                            <div class="spons-content">
                            	<a href="http://plinth.grabon.in/" target="_blank">
                                    <img src="media/sponsors_2k17/GrabOn.png" alt="GrabOn" class="grab"/>
                                </a>
                                <div class="name go">
                                    <a style="color:#75BFF0" href="https://goo.gl/0Fh1O7" target="_blank">Get the App</a><br>
                                    <span>Coupon Partner</span>
                                </div>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-3 columns">
                            <div class="spons-content">
                                <a href="https://www.nearbuy.com/" target="_blank">
                                <img src="media/sponsors_2k17/nearbuy.png" alt="OYO" class="oyo"/>
                                <div class="name oy">
                                    <span>Deals Partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-3 columns" >
                            <div class="spons-content">
                                <a href="https://www.zoomcar.com/" target="_blank">
                                <img src="media/sponsors_2k17/zoom.jpg" alt="Zoom Car" class="zoom"/>
                                <div class="name zoo">
                                    <span>Travel Partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-3 end columns" >
                            <div class="spons-content">
                                <a href="http://www.mahindraworldcity.com/jaipur/discover-jaipur.aspx" target="_blank">
                                <img src="media/sponsors_2k17/mwc.jpg" alt="Mahindra World City" class="mwc"/>
                                <div class="name zoo">
                                    <span>General Partner</span>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 medium-offset-3 large-3 large-offset-3 columns" >
                            <div class="spons-content">
                                <a href="http://www.roboflux.com/" target="_blank">
                                <img src="media/sponsors_2k17/robo.jpg" alt="Robo flux" class="zoom"/>
                                <div class="name roboflu">
                                    <span>Workshop Associate</span>
                                </div>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-3 end columns" >
                            <div class="spons-content">
                                <a href="http://www.mrbeanspizza.com/" target="_blank">
                                <img src="media/sponsors_2k17/beans-pizza.png" alt="Mr. Beans Pizza" class="pizza"/>
                                <div class="name pizz">
                                    <span>Food Partner</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="row head">
                    <div class="small-10 small-centered columns text-center">
                        <h4>Our Previous Sponsors</h4>
                    </div>
                </div>
            </div>

            <br><br>
            <div class="big-wrapper">
                <div class="row">
                    <div class="small-12 small-centered columns">
                        <div class="row">
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/sap.gif" alt="lorem" />
                                    <div class="name">
                                        <span>SAP</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/ti.png" alt="lorem" />
                                    <div class="name ti">
                                        <span>Texas Instruments</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/i3indya.png" alt="lorem" />
                                    <div class="name i3">
                                        <span>i3indya Technologies</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/av.jpg" alt="lorem" />
                                    <div class="name av">
                                        <span>Analytics Vidhya</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/g4g.png" alt="lorem" />
                                    <div class="name g4g">
                                        <span>Geeks For Geeks</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/inspi.png" alt="lorem" />
                                    <div class="name">
                                        <span>Inspidate</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/innovaccer.png" alt="lorem" />
                                    <div class="name">
                                        <span>Innovaccer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/hackerearth.png" alt="lorem" />
                                    <div class="name he">
                                        <span>HackerEarth</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/hr.jpg" alt="lorem" />
                                    <div class="name hr">
                                        <span>HackerRank</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/srjna.png" alt="lorem" />
                                    <div class="name srj">
                                        <span>Srjna</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/tvg.png" alt="lorem" />
                                    <div class="name tvg">
                                        <span>TVG</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/ve.jpg" alt="lorem" />
                                    <div class="name">
                                        <span>Phaco Surgery</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/adideva.png" alt="lorem" />
                                    <div class="name">
                                        <span>Adideva</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/roboraze.png" alt="lorem" />
                                    <div class="name rc">
                                        <span>Robocraze</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/zw.png" alt="lorem" />
                                    <div class="name">
                                        <span>Zero Waste</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/finx.png" alt="lorem" />
                                    <div class="name fin">
                                        <span>Finx</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/space.png" alt="lorem" />
                                    <div class="name sd">
                                        <span>Space Dev</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/tcf.png" alt="lorem" />
                                    <div class="name tcf">
                                        <span>The College Fever</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/dream.jpg" alt="lorem" />
                                    <div class="name dw">
                                        <span>Dream Wallets</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/ivycamp.jpg" alt="lorem" />
                                    <div class="name ivy">
                                        <span>Ivy Camp</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/startup.png" alt="lorem" />
                                    <div class="name so">
                                        <span>Startup Oasis</span>
                                    </div>
                                </div>
                            </div>

                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/adword.png" alt="lorem" />
                                    <div class="name ga">
                                        <span>Google AdWords</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/ketto.jpg" alt="lorem" />
                                    <div class="name ket">
                                        <span>Ketto</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/wh.jpg" alt="lorem" />
                                    <div class="name wh">
                                        <span>Wired Hub</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/ebay.jpg" alt="lorem" />
                                    <div class="name eb">
                                        <span>ebay</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/pizza.jpg" alt="lorem" />
                                    <div class="name lp">
                                        <span>Laziz Pizza</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/youth.jpg" alt="lorem" />
                                    <div class="name yi">
                                        <span>Youth Incorporated</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/bb.png" alt="lorem" />
                                    <div class="name bb">
                                        <span>Brain Buxa</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/2019.jpg" alt="lorem" />
                                    <div class="name t19">
                                        <span>Twenty 19</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/me.png" alt="lorem" />
                                    <div class="name max">
                                        <span>Max Embedded</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-push-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/knowyourfest.png" alt="lorem" />
                                    <div class="name kaf">
                                        <span>Know a Fest</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-push-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/festpav.png" alt="lorem" />
                                    <div class="name fp">
                                        <span>FestPav</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-push-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/fe.jpg" alt="lorem" />
                                    <div class="name fad">
                                        <span>Fadoo Engineers</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 medium-pull-6 large-2 large-pull-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/ae.png" alt="lorem" />
                                    <div class="name all">
                                        <span>AllEvents</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

      <% include partials/footer %>

    </body>
</html>
