<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lecture | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/talks.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row head">
                <div class="small-10 small-centered columns text-center">
                    <h4>Talk Series</h4>
                </div>
            </div>
            <div class="row desc">
                <div class="small-12 columns text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate urna id semper consequat. Nullam id orci lectus. Etiam non justo pretium, ornare ipsum in, consequat enim. Nullam luctus interdum bibendum. Nullam neque lectus, molestie sit amet tincidunt ac, luctus eget augue. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-10 large-8 small-centered columns">
                <div class="row">
                    <div class="small-10 medium-5 large-4 small-offset-1 medium-offset-1 large-offset-2 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k17/balaji.jpeg">
                            </div>
                            <span class="profile-name">Balaji Vishwanathan </span>
                            <br />
                            <span class="profile-content">VP Product, Invento </span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/vvbalajiviswanathan" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/balajivis?lang=en" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="https://en.wikipedia.org/wiki/Balaji_Viswanathan" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></a></li>
<!--
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                            <a href="/talks/balaji-vishwanathan" class="know-more">Know More ></a>
                        </div>
                    </div>
                    <div class="small-10 medium-5 large-4 small-offset-1 medium-offset-0 columns end">
                        <div class="profile-card">
                            <div class="profile-dp">
                            <img src="media/speakers_2k17/sangram.jpg">
                            </div>
                            <span class="profile-name">Dr. Sangram Ganguly</span>
                            <br />
                            <span class="profile-content">Senior Research Scientist, NASA</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/sangramganguly" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/sangramganguly" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<!--
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                            <a href="/talks/sangram-ganguly" class="know-more">Know More ></a>
                        </div>
                    </div>
<!--
                    <div class="small-10 medium-4 large-4 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            </div>
                            <span class="profile-name">Vipul Behl</span>
                            <br />
                            <span class="profile-content">G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            <a href="#" class="know-more">Know More ></a>
                        </div>
                    </div>
-->
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="small-10 small-centered text-center prev-btn">
                <button class="hollow button alert" href="#">View Last Year's Speakers</button>
            </div>
        </div>
        
        
        <% include partials/footer %>

    </body>
</html>
