<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Team | Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/team.css" />
    </head>
    <body>
        
        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>
        
        <div class="content">
            <div class="row">
                <div class="small-10 small-centered text-center columns">
                    <h4>Meet the Team</h4>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            </div>
                            <span class="profile-name">Vipul Behl</span>
                            <br />
                            <span class="profile-content">G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            </div>
                            <span class="profile-name">Vipul Behl</span>
                            <br />
                            <span class="profile-content">G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            </div>
                            <span class="profile-name">Vipul Behl</span>
                            <br />
                            <span class="profile-content">G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            </div>
                            <span class="profile-name">Vipul Behl</span>
                            <br />
                            <span class="profile-content">G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            </div>
                            <span class="profile-name">Vipul Behl</span>
                            <br />
                            <span class="profile-content">G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            </div>
                            <span class="profile-name">Vipul Behl</span>
                            <br />
                            <span class="profile-content">G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            </div>
                            <span class="profile-name">Vipul Behl</span>
                            <br />
                            <span class="profile-content">G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            </div>
                            <span class="profile-name">Vipul Behl</span>
                            <br />
                            <span class="profile-content">G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <% include partials/footer %>
        
    </body>
</html>