<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Team | Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/team.css" />
    </head>
    <body>
        
        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>
        
        <div class="content">
            <div class="row">
                <div class="small-10 small-centered text-center columns">
                    <h4>Meet the Team</h4>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/gsec.jpg" />
                            </div>
                            <span class="profile-name">Vipul Behl</span>
                            <br />
                            <span class="profile-content">G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/vipul.viki"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            </div>
                            <span class="profile-name">Kritika karwasra</span>
                            <br />
                            <span class="profile-content">A.G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            </div>
                            <span class="profile-name">Shobhit Asai</span>
                            <br />
                            <span class="profile-content">Sponsorship Lead and Finance</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Bhavik%20Thakkar.jpg" />
                            </div>
                            <span class="profile-name">Bhavik Thakkar</span>
                            <br />
                            <span class="profile-content">Sponsorship Lead and Content Head</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Mukul%20Jain.jpg" />
                            </div>
                            <span class="profile-name">Mukul Jain</span>
                            <br />
                            <span class="profile-content">Design And Website</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Akshansh%20Bindal.jpg" />
                            </div>
                            <span class="profile-name">Akshansh Bindal</span>
                            <br />
                            <span class="profile-content">Design and Marketing Lead</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            </div>
                            <span class="profile-name">Romit Jain</span>
                            <br />
                            <span class="profile-content">Workshop Lead</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    
                    
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Vamsi%20jpg.jpg" />
                            </div>
                            <span class="profile-name">Vamsi Krishna</span>
                            <br />
                            <span class="profile-content">Talks</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Parth%20Javiya.jpg" />
                            </div>
                            <span class="profile-name">Parth Javiya</span>
                            <br />
                            <span class="profile-content">Double agent B-)</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Sagar%20Chand%20Agarwal.jpg" />
                            </div>
                            <span class="profile-name">Sagar Chand Agarwal</span>
                            <br />
                            <span class="profile-content">Wiki To Learn</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Abhishek%20Sukhwal.jpg" />
                            </div>
                            <span class="profile-name">Abhishek Sukhwal</span>
                            <br />
                            <span class="profile-content">Robotics</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Dheeraj.jpg" />
                            </div>
                            <span class="profile-name">Dheeraj Gupta</span>
                            <br />
                            <span class="profile-content">Quiz</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Khyati.jpg" />
                            </div>
                            <span class="profile-name">Khyati Chhabra</span>
                            <br />
                            <span class="profile-content">lorum</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Akhilesh%20Maheswari.jpg" />
                            </div>
                            <span class="profile-name">Akhilesh Maheswari</span>
                            <br />
                            <span class="profile-content">SIF</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Ayush%20Muniya.jpg" />
                            </div>
                            <span class="profile-name">Ayush Muniya</span>
                            <br />
                            <span class="profile-content">SIF</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Paranay%20Pandey.jpg" />
                            </div>
                            <span class="profile-name">Paranay Pandey</span>
                            <br />
                            <span class="profile-content">Coding Events</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                 <img src="media/team/Rahul%20Aggarwal.jpg" />
                            </div>
                            <span class="profile-name">Rahul Aggarwal</span>
                            <br />
                            <span class="profile-content">Coding Events</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Mayuri%20Aggarwal.jpg" />
                            </div>
                            <span class="profile-name">Mayuri Agrawal</span>
                            <br />
                            <span class="profile-content">Design And Website</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Smriti%20Jha.jpg" />
                            </div>
                            <span class="profile-name">Smriti Jha</span>
                            <br />
                            <span class="profile-content">Astronomy</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Sarthak%20Kamra.jpg" />
                            </div>
                            <span class="profile-name">Sarthak Kamra</span>
                            <br />
                            <span class="profile-content">Campus Ambassdor</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Mukul%20Goyal.jpg" />
                            </div>
                            <span class="profile-name">Mukul Goyal</span>
                            <br />
                            <span class="profile-content">Website</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9874563214</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <% include partials/footer %>
        
    </body>
</html>