<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Workshops | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/workshop.css" />
    </head>
    <body>
        
        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row">
                <div class="small-10 small-centered text-center columns">
                    <h4>Workshops</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
                    <div class="small-7 small-push-3 medium-5 large-4 large-push-3 columns">
                        <div class="dp-image">
                            
                        </div>
                    </div>
                    <div class="small-10 medium-5 large-5 large-pull-1 columns">
                        <div class="details">
                            <span class="title-workshop">A workshop on "IOT"</span>
                            <br />
                            <span class="by-workshop">presented by Texas Instuments</span>
                            <br />
                            <br />
                            <span>Date : 22<sup>nd</sup> Jan 2016</span>
                            <br />
                            <span>Venue : The LNMIIT, Jaipur </span>
                            <br />
                            <br />
                            <ul>
                                <li><a href="#">Register ></a></li>
                                <li><a href="#">Make Payment ></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="workshop-desc">
            <div class="row">
                <div class="small-8 small-centered text-center columns">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet mattis ex. Morbi pharetra, tellus quis luctus tincidunt, elit libero iaculis ex, ac euismod eros ligula eget ipsum. Cras consequat varius venenatis. Vivamus auctor lorem tristique mi eleifend, id imperdiet erat faucibus. Nunc semper, orci ut dignissim varius, mauris augue placerat leo, vel sagittis enim erat ac dui.</span>
                </div>
            </div>
            <div class="row content">
                <div class="small-8 small-centered text-center columns">
                    <span class="content-head">Workshop Content</span>
                    <br />
                    <br />
                    <span>Lorem ipsum dolor sit amet</span>
                    <br />
                    <span>consectetur adipiscing elit</span>
                    <br />
                    <span>Phasellus sit amet mattis</span>
                    <br />
                    <span>ligula eget ipsum</span>
                    <br />
                    <span>Cras consequat varius venenatis</span>
                    <br />
                    <span>Nunc semper, orci ut dignissim varius</span>
                    <br />
                </div>
            </div>
            <div class="row content">
                <div class="small-8 small-centered text-center columns">
                    <span class="content-head">For Any Queries Contact</span>
                    <br />
                    <br />
                    <span>Kapil Matani : +91-9462317503 <span class="pipe-1">|</span> kapilmatani03@gmail.com</span>
                    <br />
                    <span>Deepika Singhal : +91-9461481539 <span class="pipe-2">|</span> deepikasinghal07@gmail.com</span>
                </div>
            </div>
        </div>
        
        <% include partials/footer %>
        
    </body>
</html>