<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Workshops | Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/workshop.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row">
                <div class="small-10 small-centered text-center columns">
                    <h4>Workshops</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-8 large-centered small-10 small-centered columns">
                <div class="row">
                    <div class="small-10 medium-4 large-4 small-offset-1 medium-offset-0 columns">
                        <div class="card text-center">
                            <a href="/workshops/vehicle-dynamics"><img src="media/icons/workshop/w2.svg" />
                            <br>
                            <div class="container">
                                <p class="name">Vehicle Design and Dynamics</p>
                                <p class="name-desc">Do vehicles excite you? Learn principles, simulation, design and manufacturing a prototype of an automobile!</p>
                            </div>
                            <div class="know-more">Know More ></div></a>
                        </div>
                      </div>
                      <div class="small-10 medium-4 large-4 small-offset-1 medium-offset-0 end columns">
                        <div class="card text-center">
                          <a href="/workshops/web-o-master"><img src="media/icons/workshop/w1.svg" />
                          <br>
                          <div class="container">
                            <p class="name">Web O Master</p>
                            <p class="name-desc">Learn and master the secrets of web technologies, Content Managment and Search Engine Optimization.</p>
                          </div>
                          <div class="know-more">Know More ></div></a>
                        </div>
                      </div>
                      <div class="small-10 medium-4 large-4 small-offset-1 medium-offset-0 end columns">
                        <div class="card text-center">
                          <a href="/workshops/touch-augmented-realities"><img src="media/icons/workshop/w3.svg" />
                          <br>
                          <div class="container">
                            <p class="name">Touch & Augmented Realities</p>
                            <p class="name-desc">Learn about sixth sense technologies on which Microsoft, Google, Intel & many more.</p>
                          </div>
                          <div class="know-more">Know More ></div></a>
                        </div>
                      </div>
                  </div>
            </div>
        </div>




        <% include partials/footer %>

    </body>
</html>
