<nav>
    <div class="header-logo">
        <a href="/"><img src="media/logo.svg"/></a>
    </div>
    <button class="ham-btn"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button>
    <div class="ham-wrapper">
        <div class="ham-content text-center">
            <button class="ham-close"><span>X</span></button>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/competitions">Competitions</a></li>
                <li><a href="/workshops">Workshops</a></li>
                <li><a data-open="lectures-modal" >Lectures</a></li>
                <li><a href="/mun">The LNMIIT MUN</a></li>
                <li><a data-open="register-pop-up-window">Register</a></li>
            </ul>
        </div>
    </div>
    <div class="navitem text-right">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/competitions">Competitions</a></li>
            <li><a href="/workshops">Workshops</a></li>
            <li><a data-open="lectures-modal">Lectures</a></li>
            <li><a href="/mun">The LNMIIT MUN</a></li>
            <li><a data-open="register-pop-up-window" >Register</a></li>
        </ul>
    </div>
</nav>

<div class="reveal" id="register-pop-up-window" data-reveal>
    <h5 class="text-center">Register Yourself</h5>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet mattis ex. Morbi pharetra, tellus quis luctus tincidunt, elit libero iaculis ex.</p>
    <div class="text-center">
        <a class="btn btn-register popupwindow" href="/user/auth/google" rel="windowCallUnload"><i class="fa fa-google-plus" aria-hidden="true"></i>Register with Google</a>
        <a class="btn btn-register popupwindow" href="/user/auth/facebook" rel="windowCallUnload"><i class="fa fa-facebook" aria-hidden="true"></i>Register with Facebook</a>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="reveal" id="lectures-modal" data-reveal>
    <h5 class="text-center">Lectures</h5>
    <p class="text-center">Coming Soon !!!</p>
</div>

<div class="notif">
    <span class="reg-status">Yours registration is successfull !</span>
</div>