<a data-open="regform">asda</a>
<div class="wrapper-form reveal" id="regform" data-reveal>
            <div class="reg-form">
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>Name</label>
                </div>

                <div class="radio-sex">
                    <span class="reg-sex-h">Gender</span>
                    <div class="reg-sex">
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload1"   name="sex" value="male" />
                          <label for="radioWorkload1"><span></span>Male</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload2"   name="sex" value="female" />
                          <label for="radioWorkload2"><span></span>Female</label>
                        </span>
                    </div>
                </div>

                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>Phone Number</label>
                </div>
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>Email</label>
                </div>
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>College</label>
                </div>
                <div class="radio-year">
                    <span class="reg-sex-h">Year</span>
                    <div class="reg-sex">
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload3"   name="year" value="1" />
                          <label for="radioWorkload3"><span></span>1</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload4"   name="year" value="2" />
                          <label for="radioWorkload4"><span></span>2</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload5"   name="year" value="3" />
                          <label for="radioWorkload5"><span></span>3</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload6"   name="year" value="4" />
                          <label for="radioWorkload6"><span></span>4</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload7"   name="year" value="5" />
                          <label for="radioWorkload7"><span></span>5</label>
                        </span>
                    </div>
                </div>
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>City</label>
                </div>
                <div class="radio-acc">
                    <span class="reg-acc-h">Accomodation</span>
                    <div class="reg-acc">
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload8"   name="acc" value="yes" />
                          <label for="radioWorkload8"><span></span>Yes</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload9"   name="acc" value="no" />
                          <label for="radioWorkload9"><span></span>No</label>
                        </span>
                    </div>
                </div>

                <div class="add-memb">
                    <a class="add" href="javascript:void(0)">+ Add Member</a>
                </div>

                <div class="btn">
                    <a class="btn-register" href="javascript:void(0)">Register</a>
                </div>

                <div class="reg-social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Register With Facebook</a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Register With Google</a></li>
                    </ul>
                </div>
            </div>
        </div>
