<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teams | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/robotics.css" />
        <style type="text/css">
        	body{
        		background-color: #EFEEEF;
		    	font-family: 'Roboto', sans-serif;
        	}
        	.top{
        		background-color: #4B7CE7; padding: 35px;
        	}
        	.heading{
        		text-align: center; padding: 30px; font-size: 30px;
        	}
        	.content{
        		background-color: white;
        		padding: 20px;
        		margin-bottom: 20px;
        	}
        </style>
    </head>
    <body>
        <div class="top">
        </div>
        <div class="row heading">
        	<div class="small-12 columns">Robotics</div>
        </div>
	    <div class="row content">
	    	<div class="small-12 columns">
		        <div class="row">
		        	<div class="small-12 large-10 columns">
		        	College : Chandigarh Engineeing College, Chandigarh<br>
		        	Payment : Pending		        	
		        	</div>
		        	<div class="small-12 large-2 columns">Team #1</div>
		        	<br><br>
		        	<hr>
		        </div>
		        <div class="row">
		        	<div class="small-12 medium-6 large-3 columns">
		        		<b>Member #1</b><br style="line-height: 40px;">
		        		Name: VISHAL<br>
		        		Email : abc@xyz.com<br>
		        		Phone : +91 8114487321<br>
		        		Year : 2
		        	</div>
		        	<div class="small-12 medium-6 large-3 columns">
		        		<b>Member #1</b><br style="line-height: 40px;">
		        		Name: VISHAL<br>
		        		Email : abc@xyz.com<br>
		        		Phone : +91 8114487321<br>
		        		Year : 2
		        	</div>
		        	<div class="small-12 medium-6 large-3 columns">
		        		<b>Member #1</b><br style="line-height: 40px;">
		        		Name: VISHAL<br>
		        		Email : abc@xyz.com<br>
		        		Phone : +91 8114487321<br>
		        		Year : 2
		        	</div>
		        	<div class="small-12 medium-6 large-3 end columns">
		        		<b>Member #1</b><br style="line-height: 40px;">
		        		Name: VISHAL<br>
		        		Email : abc@xyz.com<br>
		        		Phone : +91 8114487321<br>
		        		Year : 2
		        	</div>
		        </div>
		    </div>
	    </div>
    </body>
</html>
