@font-face {
    font-family: rez;
    src: url("../font/REZ.ttf");
}

@font-face {
    font-family: caviar;
    src: url("../font/CaviarDreams.ttf");
}

@font-face {
    font-family: cl;
    src: url("../font/ChampagneAndLimousines.ttf");
}

@font-face {
    font-family: hn;
    src: url("../font/HelveticaNeue.ttf");
}

nav{
    height: 70px;
    padding: 20px 20px 0px ;
}

.header-logo{
    width: 60px;

}

.navitem{
    position: relative;
    top: -40px;
    font:normal 1.125em hn;
}

.navitem li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.navitem a{
    color:black;
    text-decoration: none;
}

.ham-btn{
    display: none;
    position: fixed;
    top:25px;
    right: 10px;
    z-index: 99;
}
.ham-wrapper{  
    position: fixed;
    top:0px;
    right: 0px;
    z-index:9999;
    width: 0px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.1);
    color: black;
}
/*
.fly-left{
    max-width: 250px;
}
*/

.ham-content{
    font:normal 1.125em hn;
}

.ham-content li{
    list-style: none;
    padding:30px;
}

.ham-content a{
    text-decoration: none;
    color:black;
}


.ham-close{
    display: none;
    float: right;
    position: fixed;
    top:10px;
    right: 10px;
    opacity: 0.5;
}


.ham-close span{
    font:normal 20px 'Roboto';
}

.back{
    color: #0431B4;
}

.back:hover{
    opacity: 0.8;
}

.social-wrapper{
}

.social{
/*    border:1px solid white;*/
    max-width: 500px;
}

.social li{
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
}

.social a{
    text-decoration: none;
    color:#4a4a4a;
}


.footer-text{
    max-width: 600px;
}

.footer-text li{
    list-style: none;
    display: inline-block;
    padding:0px 15px;
    font:bold 18px hn;
}

.footer-text a{
    text-decoration: none;
    color:#4a4a4a;
}

.footer-fixed{
  position: absolute;
  bottom: 20px;
  margin-left: calc( 50% - 300px );
}

@media screen and (max-width: 768px) {
    .navitem{
        display:none;
    }
    .ham-btn{
        display: block;
    }
}

