h4{
    font: normal 40px 'Roboto';
    color:#3ca37c;
    padding-bottom: 10px;
}

.content{
    margin-top: 50px;
    margin-bottom: 40px;
}

footer{
    margin-top: 100px;
}

.dp-image{
    background-color: darkgray;
    width:150px;
    height: 150px;
    border-radius: 100px;
/*    margin-left: 220px;*/
}

.details{
    font:normal 16px 'Roboto';
    margin-bottom: 60px;
}

.title-workshop{
    font:bold 20px 'Roboto';
}

.details ul{
    list-style: none;
    margin: 0px;
}

.details li{
    display: inline-block;
    padding-right: 30px;
}

.details a{
    font:normal 20px 'Roboto';
    color:#3ca37c;
}

.card{
    margin:auto;
    position: relative;
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
/*    height:100px;*/
/*    width: 300px;*/
    text-align: center;
    
    padding-top: 5px;
    padding-bottom: 5px;
    max-width:300px;
    margin:auto;
}


.card-img{
    background-color: darkgray;
    width:80px;
    height: 80px;
    border-radius: 100px;
   
}

.prize{
    padding-top: 15px; 
}

.tab-wrapper{
    margin-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

ul.tab {
    list-style: none;
    margin: 0;
    padding: 30px;
    overflow: hidden;
    background-color: #f1f1f1;
}

ul.tab li {
    display: inline-block;
    padding-right: 80px;
}

ul.tab li a{
    font:bold 15px 'Roboto';
    color:#606060;
}

ul.tab li a:focus, .active {
    color:#3ca37c;
}

.tabcontent {
    font-family: 'Roboto';
    display: none;
    float: left;
}

.tabcontent span{
    font:normal 30px 'Roboto';
}

ul.drop-tab {
    display: none;
    list-style: none;
    margin: 0;
    padding: 30px;
    overflow: hidden;
    background-color: #f1f1f1;
}

.fa-chevron-down{
    float: right;
    color: #606060;
}

.drop-content-wrapper{
    display: none;
    background-color: white;
    z-index: 999;
/*    float: right;*/
    position: absolute;
    right: 111px;
    top:670px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.drop-content-wrapper-display{
    display: block;
}

.drop-content-wrapper ul{
    padding: 0px;
    margin: 0px;
}

.drop-content-wrapper li{
    list-style: none;
    padding: 5px;
}

.drop-content-wrapper a{
    font:normal 15px 'Roboto';
    color: #606060;
}

/*
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;  Fading effect takes 1 second 
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
*/

.content-head{
    margin-top: 50px;
}

.contentdesc{
    margin-top: 50px;
    padding-bottom: 50px;
}

.big-wrapper{
    overflow: hidden;
}

.wrapper{
    width = 5820px;
}

@media screen and (max-width: 640px){
    .details{
        margin-top: 20px;
        margin-left: 80px;
    }
    .drop-content-wrapper{
        position: absolute;
        right: 70px;
        top:830px;   
    }
}


@media screen and (max-width: 1186px){
    .tab{
        display: none;
    }
    ul.drop-tab{
        display: block;
    }
}
