<nav>
    <div class="header-logo">
        <a href="#"><img src="media/logo.svg"/></a>
    </div>
    <button class="ham-btn"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button>
    <div class="ham-wrapper">
        <div class="ham-content text-center">
            <button class="ham-close"><span>X</span></button>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/competitions/">Competitions</a></li>
                <li><a href="#">Workshops</a></li>
                <li><a href="#">Lectures</a></li>
                <li><a href="#">The LNMIIT MUN</a></li>
                <li><a href="#">Hackathon</a></li>
            </ul>
        </div>    
    </div>
    <div class="navitem text-right">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/competitions/">Competitions</a></li>
            <li><a href="#">Workshops</a></li>
            <li><a href="#">Lectures</a></li>
            <li><a href="#">The LNMIIT MUN</a></li>
            <li><a href="#">Hackathon</a></li>
        </ul>
    </div>
</nav>